@charset "utf-8";

/* #sec_01 */
#sec_01{width: 100%; height: 820px; background-image: url(../img/header-bg.jpg); background-size: cover; background-position: 50% 50%; position: relative;}

#sec_01 .cloud{width: 100%; height: 100%; background-image: url(../img/cloud.png); background-repeat: no-repeat; background-size: auto 400px; animation:moveCloud 120s infinite;}

@keyframes moveCloud{
    0%{background-position: 0 100%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0 100%;}
}

#sec_01 .cloud .title_group{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; text-transform: uppercase;}

#sec_01 .cloud .title_group p{font-size: 18px; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.75);}
#sec_01 .cloud .title_group h1{font-size: 36px; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.75);}
#sec_01 .cloud .title_group h1 span{font-size: 48px;}

#sec_01 .cloud .title_group ul{font-size: 0; margin-top: 38px;}
#sec_01 .cloud .title_group ul li{display: inline-block; width: 160px; height: 30px; background-color: #5e889e; margin: 0 20px; border-radius: 4px;}
#sec_01 .cloud .title_group ul li a{display: block; line-height: 30px; font-size: 16px; color: #fff;}

#sec_01 .cloud .title_group ul li:hover{background-color: #999;}
#sec_01 .cloud .title_group ul li:hover a{color: #755562;}

/*info*/
#info{margin-top: -60px; position: relative; /* z-index: 0 - 뒤에 숨어있던것을 앞으로 나오게 함 */ padding-bottom: 40px;}
#info .wrap{width: 1200px; margin: 0 auto; font-size: 0;}
#info .wrap article{width: calc((100% / 3) - 20px); display: inline-block; text-align: center; vertical-align: top; margin: 0 10px;}
#info .wrap article img{height: 130px;
    /* 
    [css에서 bgi적용했을시]
   background-size: contain; /* 아이콘에 많이 사용하는 스타일 */
    /* background-repeat: no-repeat;
    background-position: 50% 50%; 
    */}
#info .wrap article h3{font-size: 18px; padding: 20px 0; color: #5c5c5c;}
#info .wrap article p{font-size: 14px; color: #5c5c5c;}

#banner{height: 200px; background-image: url(../img/Investment-Performance-Banner-650.jpg); background-position: 50% 50%; background-size: cover; position: relative; background-attachment: fixed;}
#banner .dark{height: 100%; background-color: rgba(0,0,0,0.5);}

#banner .dark .wrap{position: absolute; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#banner .dark .wrap p{color: #fff; font-size: 24px; padding-bottom: 15px;}

#banner .dark .wrap a{font-size: 14px; color: #5e889e;}

/* #branches */

#branches{height: 800px; background-image: url(../img/main2-bg.png), url(../img/main1-bg.png); background-position: 0 50%, 100% 50%; background-size: cover; text-align: center; background-repeat: no-repeat; background-attachment: fixed;}
#branches .title{}
#branches .title h2{font-size: 36px; color: #5e889e; padding: 80px 0 40px;}

#branches .wrap{width: 1200px; margin: 0 auto; /* padding: 80px 0; */ font-size: 0;}

#branches .wrap article{display: inline-block; width: calc((100% / 4) - 20px); height: 420px; margin: 0 10px; background: #fff; padding: 20px; vertical-align: top; border-radius: 4px; box-shadow: 0 0 4px rgba(0,0,0,0.75); position: relative;}

#branches .wrap article .img_part{/*width: 240px;*/ height: 160px; background-color: #ffeeff; background-position: 50% 50%; background-size: cover; overflow: hidden;}
#branches .wrap article .img_part img{width: 100%; height: 100%; background-color: #ffeeff; background-position: 50% 50%; background-size: cover; transition: transform 0.5s;}

#branches .wrap article:hover .img_part img{transform: scale(1.2);}

#branches .wrap article .txt_part{color: #5c5c5c; text-align: left;}
#branches .wrap article .txt_part h3{font-size: 18px; line-height: 14px; padding: 40px 0 10px;}
#branches .wrap article .txt_part p{font-size: 14px;}

#branches .wrap article .arrow{position: absolute; bottom: 20px; right: 20px;}
#branches .wrap article .arrow a{display: block;}

#branches .wrap .paysys{padding: 0 10px; margin: 100px 0 80px;}
#branches .wrap .paysys img{display: block; width: 100%; height: 50px; background-position: 50% 50%; background-size: contain;}

/* #manager */
#manager{/* height: 430px; */ background-image: url(../img/quick-enquiry.jpg); background-position: 50% 50%; background-size: cover; background-attachment: fixed;}
#manager .fliter{/* height: 100%; */ background-color: rgba(94, 136, 158, 0.5); text-align: center;}

#manager .fliter h2{font-size: 36px;color: #fff; text-transform: capitalize; padding: 60px 80px;}

#manager .fliter .wrap{width: 1200px; margin: 0 auto; padding-bottom: 60px;}
#manager .fliter .wrap ul{font-size: 0;}
#manager .fliter .wrap ul li{display: inline-block; width: 180px; height: 100px; margin: 0 10px 20px;}
#manager .fliter .wrap ul li img{display: block;}